.container {
	max-width: vw(1368);
	width: 100%;
	padding: 0 vw(15);
	margin: 0 auto;
}
body {
	background-color: #fff;
	font-size: vw(16);
	color: $color-gray;
	font-family: 'Poppinns', sans-serif;
	font-weight: 400;
	
	
}