$background: #e5e5e5;
$color-gray: #8f95a5;
$color-background: #f5f5f5;
$color-black: #263238;

.h2__title {
   font-weight: 600;
   font-size: vw(48);
 
   color: #000;
}
.h3__title {
   font-weight: 600;
   font-size: vw(30);
	color: $color-black
}
